html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: Segoe-UI;
  font-display: swap;
  src: url("../fonts/Segoe-UI-Regular.woff2") format("woff2"), url("../fonts/Segoe-UI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Segoe-UI;
  font-display: swap;
  src: url("../fonts/Segoe-UI-Bold.woff2") format("woff2"), url("../fonts/Segoe-UI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #131316;
  color: #fff;
  font-family: "Segoe-UI", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #131316;
}

h2 {
  font-family: "Segoe-UI", "Arial", sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 550px) {
  h2 {
    font-size: 26px;
    line-height: 1.25;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: "Segoe-UI", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: transparent;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button::before, button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
button::before {
  background: -o-linear-gradient(2.77deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
}
button::after {
  background: -o-linear-gradient(177.23deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
  background: linear-gradient(272.77deg, rgba(128, 26, 179, 0) -91.42%, #4C4CFF 99.79%);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
button:hover::before {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
button:hover::after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.container::before {
  content: "";
  width: 100%;
  height: 660px;
  background-image: url("../images/bg-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__body {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  line-height: 0;
}
@media screen and (max-width: 350px) {
  .header__button {
    font-size: 14px;
  }
}

.products__body {
  max-width: 650px;
  padding: 0 15px;
  margin: 20px auto;
}
.products__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
@media screen and (max-width: 620px) {
  .products__wrapper {
    grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (max-width: 400px) {
  .products__wrapper {
    grid-template-columns: 1fr;
  }
}
.products__item {
  background-color: #fff;
  border-radius: 4px;
}
.products__item-first {
  grid-column: 1/3;
}
@media screen and (max-width: 620px) {
  .products__item-first {
    grid-column: unset;
  }
}
.products__item-second {
  grid-column: 3/5;
}
@media screen and (max-width: 620px) {
  .products__item-second {
    grid-column: unset;
  }
}
.products__item-third {
  grid-column: 5/7;
}
@media screen and (max-width: 620px) {
  .products__item-third {
    grid-column: unset;
  }
}
.products__item-four {
  grid-column: 1/4;
}
@media screen and (max-width: 620px) {
  .products__item-four {
    grid-column: unset;
  }
}
.products__item-five {
  grid-column: 4/7;
}
@media screen and (max-width: 620px) {
  .products__item-five {
    grid-column: unset;
  }
}
.products__item picture {
  display: block;
  line-height: 0;
}
.products__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__image-small {
  height: 150px;
}
.products__image-big {
  height: 180px;
}
@media screen and (max-width: 620px) {
  .products__image-big {
    height: 150px;
  }
}
.products__info {
  padding: 0 10px 10px;
}
.products__name {
  font-family: "Segoe-UI", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #131316;
  display: block;
  text-align: center;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media screen and (max-width: 620px) {
  .products__name {
    height: 60px;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 400px) {
  .products__name {
    height: auto;
  }
}
.products__name:hover {
  color: #504EFD;
}
.products__price {
  margin-top: 10px;
}
.products__button {
  width: 100%;
  margin-top: 10px;
}

.price {
  font-family: "Segoe-UI", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 400px) {
  .price {
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.price__amount {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .price__amount {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
.price__amount-old {
  text-decoration-line: line-through;
}
.price__amount-new {
  font-size: 24px;
  font-weight: 700;
  color: #131316;
}
.price__amount-red {
  font-weight: 700;
  color: #FF0000;
}
.price__delimeter {
  letter-spacing: -0.2em;
}
.price-day {
  margin: 20px 0;
  max-width: 240px;
}
.price-day .price__amount {
  text-align: left;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.price-day .price__amount-new {
  font-size: 16px;
}
.price-day .price__discount {
  font-weight: 700;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  background-color: #FF0000;
  border-radius: 4px;
}

.product-day__body {
  max-width: 650px;
  padding: 0 15px;
  margin: 50px auto 0;
}
.product-day__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  padding-bottom: 35px;
  border-radius: 4px;
}
.product-day__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.product-day__item-left {
  -ms-flex-preferred-size: 305px;
      flex-basis: 305px;
}
@media screen and (max-width: 600px) {
  .product-day__item-left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (max-width: 500px) {
  .product-day__item-left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.product-day__item-left picture {
  display: block;
  line-height: 0;
}
.product-day__item-right {
  -ms-flex-preferred-size: calc(100% - 305px);
      flex-basis: calc(100% - 305px);
  padding: 30px 10px 28px;
}
@media screen and (max-width: 600px) {
  .product-day__item-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (max-width: 500px) {
  .product-day__item-right {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}
.product-day__item-wide {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 10px;
}
.product-day__image {
  width: 305px;
  height: 305px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .product-day__image {
    width: 100%;
  }
}
.product-day__name {
  margin-top: 15px;
}
.product-day__text {
  font-size: 13px;
  line-height: 1.3;
  margin-top: 9px;
}
.product-day__promocode {
  display: block;
  max-width: 280px;
  margin: 0 auto;
  border: 1px dashed #131316;
  padding: 20px 0;
  outline: none;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}
.product-day__promocode:focus {
  border-color: #FF0000;
}
.product-day__button {
  display: block;
  max-width: 280px;
  margin: 10px auto 0;
  padding: 20px 0;
  width: 100%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: white;
}
.rating__star {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 28px;
  width: 28px;
  background: url("../images/rating.png");
  background-repeat: no-repeat;
  background-size: 28px 28px;
  opacity: 0.1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.rating__star:checked {
  opacity: 1;
}
.rating__star:checked ~ .rating__star {
  opacity: 0.1;
}
.rating__star:not(:checked) {
  opacity: 1;
}

.info {
  font-family: "Segoe-UI", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.33;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  max-width: 240px;
}
.info__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 60px);
          flex: 0 1 calc(100% - 60px);
}
.info__amount {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
  text-align: right;
}
.info__amount-red {
  font-weight: 700;
  color: #FF0000;
}

.social {
  margin-top: 60px;
}
.social__text {
  text-align: center;
  margin: 0;
  color: #fff;
}
.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.social__item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.social__item:hover {
  opacity: 0.7;
}
.social__item-yt {
  background-image: url("../images/icon-yt.png");
}
.social__item-fb {
  background-image: url("../images/icon-fb.png");
}
.social__item-inst {
  background-image: url("../images/icon-inst.png");
}

.footer__body {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__name {
  font-size: 13px;
  color: #89898A;
  margin-bottom: 3px;
}
.footer__link {
  color: #fff;
  display: block;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: #FF0000;
}
.footer__link-email {
  text-decoration-line: underline;
}
.footer__logo {
  line-height: 0;
}